.Sticker {
    &__Container {
        text-align: center;
        display: flex;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: rgba(255, 251, 251, 0.612); 
        line-height: 1;
        transform: rotate(-16deg);
        
    }

    &__Text {
        font-family: "Raleway",sans-serif;
        font-weight: 800;
        letter-spacing: .075em;
        text-transform: uppercase;
        margin: 4px;
        font-size: 12px;
    }
}