.NavBar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 15px solid #183354;
    position: fixed;
    padding: 20px;


    &__logo {
        height: 60px;
        width: 100%;
        // margin-left: 10%;
        
        &_scroll {
            height: 40px;
        }
        
        &:hover {
            filter: brightness(150%);
            transition-delay: .4s;
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;
        // margin-right: 10%;
    }

    &__scroll {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 2px solid #183354;
        position: fixed;
        padding: 5px;
    }
}