.Link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "Raleway",sans-serif;

    &__Icon {
        margin: 5px;
        height: 20px;
    }
    &__Title {
        color:#183354;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: .1em;
        background-image: repeating-linear-gradient(90deg, #3d3d3d 0%, #3d3d3d 40%, #f1b05c 50%, #3d3d3d 60%, #3d3d3d 100%);
        background-size: 200% auto;
        background-position: 0 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        animation: slidingGradient 3s linear infinite;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
    }
}

@keyframes slidingGradient {
    0% {
        background-position: -30% 0;
        background-position-x: -30%;
        background-position-y: 0px;
    }
    33.3333%, 100% {
        background-position: -230% 0;
        background-position-x: -230%;
        background-position-y: 0px;
    }
}




