.Hearty {
    background: #C4C3C1;  
    position: relative; 
    &__Cards {
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__Sticker {
        position: absolute;
        padding: 4px;
        top: 50px;
        left: 320px;
        z-index: 10;
    }
}