.Search {
    &__Container {
        border: 1px solid #AFABAE;
        border-radius: 100px;
        padding: 6.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        height: 35px;
        margin-right: 20px;
    }

    &__Input {
        font-size: 18px;
        padding: 0px 0px 0px 16px;
        margin-left: 1px;
        background-color: none;
        border: none;
        outline:none;
        color:#C4C3C1;
        font-weight:500;
        opacity: 0.5;
    }
    
    &__Icon {
        color:#F4796C;
        font-size:x-large;
        margin: 8px 6px 8px 20px;
    }
}