.Navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    align-content: center;
    align-items: center;
    padding: 9px;
    padding-top: 150px;
    margin-left: 300px;
    margin-right: 300px;
}