.Navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
    align-items: center;
    padding: 10px;
    padding-top: 150px;
}